
body,html{
    height:100%;
    background-color: #53adeb !important;
}
.container {
    min-height: 100vh;

}
.row {
    margin-left: auto;
    margin-top: auto;
}
.card {
    padding: 20px !important;
    border-radius: 10px !important;
}
.input-group-text {
    background-color: #2079b3 !important;
}
.fas {
    color: white !important;
}
.btn-primary {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    font-size: 15px !important;
    background-color: #2079b3 !important;
    color:white;
}
.login-label {
    color: #207dc3;
    font-size: 30px;
}
.form-group {
    margin-top: 35px !important;
}
.form-control {
    background-color: #e6e6e6 !important;
}
